.navigation {
    position: fixed;
    z-index: 2;
    top:0;  
    width: 100%;
}

.header-background {
    background-color: var(--main-color);
}

nav .logo-image-align {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 221px;
}

