.navigation {
    position: fixed;
    z-index: 2;
    top:0;  
    width: 100%;
}

nav .nav-wrapper {
    background-color: var(--main-color);
}

nav .brand-logo {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 221px;
}

